<%- include ../_menu.ejs %>

<div id="single-page">
	<div class="container">
		<h2 class="wow fadeInLeft"><%= __('USER INDEX') %></h2>
		<div class="title-line-left wow fadeInRight"></div>		  
	</div><!-- .container -->
	<div class="content">
		<div class="container">
		</div><!-- .container -->
	</div><!-- .content -->
</div><!-- #single-page -->