<%- include ../_menu.ejs %>

<div id="single-page">
	<div class="container">
		<h2 class="wow fadeInLeft"><%= __('ACCOUNT CONFIRMATION') %></h2>
		<div class="title-line-left wow fadeInRight"></div>		  
	</div><!-- .container -->
	<div class="content">
		<div class="container">
			<%= __('Congratulations! Your account has been activated. Now you can enjoy all the features of Eventorship.') %>
		</div><!-- .container -->
	</div><!-- .content -->
</div><!-- #single-page -->